<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Sentiment Analysis</title>
        <link rel="icon" href="../img/computer.png" type="image/icon type" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <header>
            <img id="logo" src="../img/logo.png" alt="logo" />
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input
                        id="url"
                        type="text"
                        name="input"
                        placeholder="Enter Article/Blog URL To Analyze"
                    />

                    <button>Analyze</button>
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>All Rights Reserved.</p>
            <p>Built using Meaning Cloud Sentiment Analysis API</p>
        </footer>
    </body>
</html>
