body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
    strong {
        font-size: 22px;
        text-decoration: underline;
    }
}

#results {
    border: 1px solid black;
    padding: 20px;
    margin: 20px 0;

    p {
        font-family: "Poppins", sans-serif;
        margin: 10px 0;
        text-align: center;
    }
}

#results:empty {
    display: none;
}
